{% extends "./base.html" %}

{% block pageTitle %}
  Case worker admin
{% endblock %}

{% set pageId = 'cwa' %}


{% macro tableCheckbox(params) %}
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="{{params.id}}" name="{{params.name}}" type="radio" value="{{params.value}}">
    <label class="govuk-label govuk-radios__label" for="{{params.id}}"></label>
  </div>
{% endmacro %}

{% macro tableLink(params) %}
  <a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}

{% block content %}


    <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation--warning">
          <h1 class="govuk-panel__title">
                Request completed with partial success.
          </h1>
          <div class="govuk-panel__body">
            <br><strong>Some records failed during validation and were ignored.</strong>
          </div>
        </div>

        <ul class="govuk-list">
  <li>
    [count] record(s) failed validation
  </li>

  <li>
    [count] record(s) uploaded
  </li>
  <li>
    [count] record(s) deleted
  </li>
</ul>

        <p class="govuk-body">
            </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Next action user should take or do ...
        </p>
        <p class="govuk-body">

        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link"></a>
        </p>
      </div>
      </div>


{% endblock %}
