{% extends "./base.html" %}

{% block pageTitle %}
  Organisations pending approval
{% endblock %}

{% set pageId = 'organisations' %}


{% macro tableCheckbox(params) %}
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="{{params.id}}" name="{{params.name}}" type="radio" value="{{params.value}}">
    <label class="govuk-label govuk-radios__label" for="{{params.id}}"></label>
  </div>
{% endmacro %}

{% macro tableLink(params) %}
  <a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}

{% block content %}

{{ hmctsBanner({
  html: '40 organisations are now active. <a href="/pbas/approved">Check now</a>.',
  type: 'information',
  iconFallbackText: 'information'
}) }}


  <h1 class="govuk-heading-xl">Organisations pending approval</h1>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

<div class="hmcts-search">

<form action="" method="get">

<div class="govuk-form-group">
  <label class="govuk-label hmcts-search__label govuk-label--m" for="bill">
    Search
  </label>

  <span id="bill-hint" class="govuk-hint hmcts-search__hint ">
    Search for an organisation, for example by name or postcode
  </span>

  <input class="govuk-input hmcts-search__input " id="bill" name="bill" type="search" aria-describedby="bill-hint">
</div>

<button class="govuk-button hmcts-search__button " data-module="govuk-button">
  Search
</button>

<button class="govuk-button govuk-button--secondary hmcts-search__button" data-module="govuk-button">
  Reset
</button>

</form>
</div>
</div>
</div>
<p>

  <form action="/pbas/check-selected">

 <!--   {{govukButton({
      text: 'Activate organisation'
    })}} -->

    {{ govukTable({
      head: [
       
        {
          text: "Name"
        },
        {
          text: "Address"
        },
        {
          text: "Administrator"
        },
        {
          text: "Status"
        },
        {}
      ],
      rows: [
        [
         
          {
            html: 'Wedlake Bell<br><span class="govuk-caption-m govuk-!-font-size-16">12345678</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Peter Gold<br><span class="govuk-caption-m govuk-!-font-size-16">peter.gold@wedlakebell.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-admin-pending"})
          }
        ],
        [
       
          {
            html: 'Miamora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending-nopba"})
          }
        ],
        [
        
          {
            html: 'Turpin Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
         
          {
            html: 'Gold Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Steph Gold<br><span class="govuk-caption-m govuk-!-font-size-16">steph@gold.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
         
          {
            html: 'Green Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'James Green<br><span class="govuk-caption-m govuk-!-font-size-16">james@green.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
        
          {
            html: 'Silver Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Adam Silver<br><span class="govuk-caption-m govuk-!-font-size-16">adam@silver.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
         
          {
            html: 'Turpin Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
         
          {
            html: 'Speed Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
        
          {
            html: 'Mora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Mama Tora<br><span class="govuk-caption-m govuk-!-font-size-16">mama@mora.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ],
        [
       
          {
            html: 'Law Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Lee Laurel<br><span class="govuk-caption-m govuk-!-font-size-16">lee@law.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/pbas/show-pending"})
          }
        ]
      ]
    }) }}
  </form>

  {{hmctsPagination({
    results: {
    from: 1,
    to: 10,
    count: 40
    },

    next: {
      text: 'Next',
      href: ''
    },
    items: [{
      text: '1',
      href: '/page=1',
      selected: true
    }, {
    text: '2',
    href: '/page=2'
    }, {
    text: '3',
    href: '/page=3'

    }, {
    text: '4',
    href: '/page=4'
    }]
  })}}

{% endblock %}
