
{% extends "./base.html" %}

{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/pbas/approved"
}) }}
{% endblock %}


{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Wedlake Bell ' + hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'}) }
  }) }}
{% endblock %}

{% block content %}

   {{hmctsSubNavigation({
        items: [ {
        text: 'Organisation details',
        href: '/pbas/show',
        active: false
        }, 
        {
        text: 'Users',
        href: '/pbas/users',
        active: true
        }
        ]
        })}}

<h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
</div>
</div>

{% endblock %}
