{% extends "./base.html" %}
{% block pageTitle %}
Organisations
{% endblock %}
{% set pageId = 'organisations' %}
{% block content %}
   {{hmctsSubNavigation({
        items: [ {
        text: 'Pending approval',
        href: '/v2/',
        active: false
        }, 
        {
        text: 'In progress',
        href: '/v2/in-progress',
        active: false
        }, 
        {
        text: 'Approved',
        href: '/v2/approved',
        active: true
        },
        {
     text: 'Rejected',
        href: '/v2/rejected',
        active: false
        }
        ]
        })}}
{% macro tableLink(params) %}
<a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}
<h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold"> <span class="govuk-caption-xl">Organisations</span>
    Approved
</h1>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<div class="hmcts-search">

<form action="" method="get">

<div class="govuk-form-group">
  <label class="govuk-label hmcts-search__label govuk-label--m" for="bill">
    Search
  </label>

  <span id="bill-hint" class="govuk-hint hmcts-search__hint ">
    Search for approved organisations by name or unique reference
  </span>

  <input class="govuk-input hmcts-search__input " id="bill" name="bill" type="search" aria-describedby="bill-hint">
</div>

<button class="govuk-button hmcts-search__button " data-module="govuk-button">
  Search
</button>

</form>
</div> 

</div>
</div>


{% endblock %}