
{% extends "./base.html" %}

{% block pageTitle %}
  Organisations pending approval
{% endblock %}

{% set pageId = 'organisations' %}

{% block beforeContent %}

{% endblock %}

{% macro tableCheckbox(params) %}

{% endmacro %}

{% macro tableLink(params) %}
  <a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}

{% block content %}
   {{hmctsSubNavigation({
        items: [ {
        text: 'Pending approval',
        href: '/v2/',
        active: true
        }, 
        {
        text: 'In progress',
        href: '/v2/in-progress',
        active: false
        }, 
        {
        text: 'Approved',
        href: '/v2/approved',
        active: false
        },
        {
     text: 'Rejected',
        href: '/v2/rejected',
        active: false
        }
        ]
        })}}

 <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold"> <span class="govuk-caption-xl">Organisations</span>
                    Pending approval
                </h1>
  <!--       <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
           

                {{ hmctsSearch({
input: {
id: 'bill',
name: 'bill'
},
hint: {
text: ''
},
button: {
text: 'Search'
}
}) }}
</div>
</div>
<br> -->
  <form action="/v2/check-selected">

  

    {{ govukTable({
      head: [
       
        {
          text: "Reference"
        },
        {
          text: "Address"
        },
        {
          text: "Administrator"
        },
        {
          text: "Status"
        },{}
      ],
      rows: [
        [
         
          {
            html: 'Speake Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Matt Speake<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speake.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Urgent',
classes: 'hmcts-badge--red'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
       
          {
            html: 'Miamora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
          },
                {
            html: hmctsBadge({ text: 'Urgent',
classes: 'hmcts-badge--red'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
       
          {
            html: 'Turpin Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
          },
                 {
            html: hmctsBadge({ text: 'Urgent',
classes: 'hmcts-badge--red'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
        
          {
            html: 'Gold Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Steph Gold<br><span class="govuk-caption-m govuk-!-font-size-16">steph@gold.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
        
          {
            html: 'Green Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'James Green<br><span class="govuk-caption-m govuk-!-font-size-16">james@green.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
       
          {
            html: 'Silver Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Adam Silver<br><span class="govuk-caption-m govuk-!-font-size-16">adam@silver.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
       
          {
            html: 'Turpin Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Pending'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
         
          {
            html: 'Speed Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'John West<br><span class="govuk-caption-m govuk-!-font-size-16">john@speedltd.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Recently added'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
        
          {
            html: 'Mora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Mama Tora<br><span class="govuk-caption-m govuk-!-font-size-16">mama@mora.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Recently added'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }
        ],
        [
         
          {
            html: 'Law Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          },
          {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          {
            html: 'Lee Laurel<br><span class="govuk-caption-m govuk-!-font-size-16">lee@law.com</span>'
          },
          {
            html: hmctsBadge({ text: 'Recently added'})
          },
          {
            html: tableLink({ text: 'View', href: "/v2/show-pending"})
          }

        ]
      ]
    }) }}
  </form>

  {{hmctsPagination({
    results: {
    from: 1,
    to: 10,
    count: 40
    },

    next: {
      text: 'Next',
      href: ''
    },
    items: [{
      text: '1',
      href: '/page=1',
      selected: true
    }, {
    text: '2',
    href: '/page=2'
    }, {
    text: '3',
    href: '/page=3'

    }, {
    text: '4',
    href: '/page=4'
    }]
  })}}

{% endblock %}






















