{% extends "./base.html" %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/v2/in-progress"
}) }}
{% endblock %}
{% block pageTitle %}
Organisation details
{% endblock %}
{% set pageId = 'organisation-details' %}
{% block content %}
<!--
{% set bannerHtml %}

<p class="govuk-body">This organisation is pending approval.</p>
{{govukButton({ text: 'Approve', href: '/v1/show-just-approved', classes: 'govuk-!-margin-bottom-0' })}}

{% endset %}


{{ hmctsBanner({
  html: bannerHtml
}) }} -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
            <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">In progress</span>Speake Limited</h1><div class="hmcts-menu__wrapper">
          </div>
                
        
      
        

            {{ govukSummaryList({
            rows: [
            {
               key: {
            text: "Status"
            },
            value: {
            html: hmctsBadge({ text: 'Awaiting feedback'})
            }
          },
          {
            key: {
            text: "Address"
            },
            value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
            }
            },
            {
            key: {
            text: "PBA number"
            },
            value: {
            text: "1234567"
            }
            },
            {
            key: {
            text: "DX number"
            },
            value: {
            html: '12345567'
            }
            },
            {
            key: {
            text: "DX exchange"
            },
            value: {
            html: '12345567'
            }
            },
            {
            key: {
            text: "Administrator"
            },
            value: {
            html: 'Matt Speae<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speake.com</span>'
            }
            }
            ]
            }) }}
            <form action="/v2/confirmation">
                {{ govukButton({
                text: 'Approve organisation'
                }) }}
            
             <form action="/v2/confirmation">
                {{ govukButton({
                text: 'Put on hold',
                classes: "govuk-button--secondary"
                }) }}
                <form action="/v2/confirmation">
                {{ govukButton({
                text: 'Reject',
                classes: "govuk-button--warning"
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}