{% extends "./base.html" %}
{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
label: 'Account navigation',
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
}) }}
{{ hmctsPrimaryNavigation({
label: 'Primary navigation',
items: [{
html: 'Pending approval',
href: '/v2'
},
{
text: 'On hold',
href: '/v2/in-progress',
active: true
},
{
text: 'Approved',
href: '/v2/approved'
}]
}) }}
{% set searchHtml %}
{% endset %}
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/v2/in-progress"
}) }}
{% endblock %}
{% block pageTitle %}
Organisation details
{% endblock %}
{% set pageId = 'organisation-details' %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
            <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">On hold</span>Speake Limited</h1><div class="hmcts-menu__wrapper">
          </div>
                
        
            {{ govukSummaryList({
            rows: [
            {
               key: {
            text: "Status"
            },
            value: {
            html: hmctsBadge({ text: 'Awaiting feedback'})
            }
          },
          {
            key: {
            text: "Address"
            },
            value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
            }
            },
            {
            key: {
            text: "PBA number"
            },
            value: {
            text: "1234567"
            }
            },
            {
            key: {
            text: "DX number"
            },
            value: {
            html: '12345567'
            }
            },
            {
            key: {
            text: "DX exchange"
            },
            value: {
            html: '12345567'
            }
            },
            {
            key: {
            text: "Administrator"
            },
            value: {
            html: 'Matt Speae<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speake.com</span>'
            }
            }
            ]
            }) }}
            <form>
                {{ govukButton({
                text: 'Approve organisation',
                href: "/v2/confirmation"
                }) }}
           
           <!-- 
                {{ govukButton({
                text: 'Put on hold',
                classes: "govuk-button--secondary",
                href: "/v2/show-pending-on-hold"
                }) }}
           
              -->
                {{ govukButton({
                text: 'Reject',
                classes: "govuk-button--secondary",
                href: "/v2/show-pending-reject"
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}