{% extends "./baseadminonly.html" %}

{% block pageTitle %}
  Case worker admin
{% endblock %}

{% set pageId = 'cwa' %}


{% macro tableCheckbox(params) %}
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="{{params.id}}" name="{{params.name}}" type="radio" value="{{params.value}}">
    <label class="govuk-label govuk-radios__label" for="{{params.id}}"></label>
  </div>
{% endmacro %}

{% macro tableLink(params) %}
  <a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}

{% block content %}



{% if data.partialsuccess != 'true' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                      <h1 class="govuk-panel__title">
                          Upload successful
                      </h1>
                      <div class="govuk-panel__body">
                        <br><strong></strong>
                      </div>
                </div>

                <p class="govuk-body"></p>

                <p class="govuk-body">X records were created or amended <br>
                    X records were suspended<br>
                </p>


                <!--
                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                    You’ll now be able to assign tasks to your colleagues <a href="#">using the Manage cases application</a>.
                </p>

                <p class="govuk-body">
                  <a href="#" class="govuk-link"></a>
                </p>
                -->

            </div>
         </div>

{% elif data.partialsuccess == 'true' %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


        <h1 class="govuk-heading-l">Some of the records weren’t updated </h1>

        <p class="govuk-body">X records were created or amended <br>
            X records were suspended<br>
            X records failed to upload<br>
        </p>

        <h3 class="govuk-heading-m">What went wrong </h3>

        <p class="govuk-body">The file uploaded with the following errors:</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:40px;">Row</th>
                <th scope="col" class="govuk-table__header">Field</th>
                <th scope="col" class="govuk-table__header" style="width:400px;">Error description</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">First name</td>
                <td class="govuk-table__cell">Empty cell</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">Primary location</td>
                <td class="govuk-table__cell">Empty cell</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">6</td>
                <td class="govuk-table__cell">Primary location</td>
                <td class="govuk-table__cell">Empty cell</td>
            </tr>
            </tbody>
        </table>


        <h3 class="govuk-heading-m">What you need to do</h3>
        <ol class="govuk-body">
            <li>Check you have the <a href="#">latest version of the caseworker details spreadsheet</a>.</li>
            <li>You’ll then need to fix any errors in the spreadsheet.</li>
            <li>Once you’ve made sure all the information is correct, you’ll need to go back to the previous page and upload the spreadsheet again.</li>
        </ol>
        <!--
        <p class="govuk-body">You’ll need to update the missing information.</p>
        <p class="govuk-body">Once all the details in the template are correct, you’ll need to <a href="/v1b/caseworkerdetails?anerror=false&uploaderror=0&">upload it again</a>.</p>
        -->

    </div>
</div>



{% endif %}




<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">

        <option value="partialsuccess=false&"
                {% if data.partialsuccess != 'true' %}selected{% endif %}
        >Full success</option>

        <option value="partialsuccess=true&"
                {% if data.partialsuccess == 'true' %}selected{% endif %}
        >Partial success</option>

    </select>
</form>




{% endblock %}
