{% extends "./base.html" %}

{% block pageTitle %}
  Organisations pending approval
{% endblock %}

{% set pageId = 'organisations' %}


{% macro tableCheckbox(params) %}
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="{{params.id}}" name="{{params.name}}" type="radio" value="{{params.value}}">
    <label class="govuk-label govuk-radios__label" for="{{params.id}}"></label>
  </div>
{% endmacro %}

{% macro tableLink(params) %}
  <a href="{{params.href}}">{{params.text}}</a>
{% endmacro %}

{% block content %}

  <h1 class="govuk-heading-xl">Organisation approvals</h1>

  {% if data['action'] == 'approve' %}

  {{ hmctsBanner({
    type: 'success',
    text: 'Registration approved',
    iconFallbackText: 'Success'
  }) }} 

  {% elseif data['action'] == 'reject' %}

  {{ hmctsBanner({
    type: 'success',
    text: 'Registration rejected',
    iconFallbackText: 'Success'
  }) }} 

  {% elseif data['action'] == 'hold' %}

  {{ hmctsBanner({
    type: 'success',
    text: 'Registration put on hold',
    iconFallbackText: 'Success'
  }) }} 

  {% elseif data['action'] == 'pba' %}

  {{ hmctsBanner({
    type: 'success',
    text: 'PBA numbers updated',
    iconFallbackText: 'Success'
  }) }} 

  {% endif %}

  {% set data = [] %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="hmcts-search">

          <form action="" method="get">

            <div class="govuk-form-group">
              <label class="govuk-label hmcts-search__label govuk-label--m" for="bill">
                Search
              </label>

              <span id="bill-hint" class="govuk-hint hmcts-search__hint ">
                Search for an organisation, for example by name or postcode
              </span>

              <input class="govuk-input hmcts-search__input " id="bill" name="bill" type="search" aria-describedby="bill-hint">
            </div>

            <button class="govuk-button hmcts-search__button " data-module="govuk-button">
              Search
            </button>

            <button class="govuk-button govuk-button--secondary hmcts-search__button" data-module="govuk-button">
              Reset
            </button>

          </form>

        </div>
      </div>
  </div>

  <br />
<p>

 <!--   {{govukButton({
      text: 'Activate organisation'
    })}} -->

    {% set newRegs %}
    <form action="/v1b/check-selected">

      <h2 class="govuk-heading-l">New registrations</h2>
      {{ govukTable({
        head: [
         
          {
            text: "Organisation"
          },
          {
            text: "Addresses"
          },
          {
            text: "Administrator"
          },
          {
            text: "Date received"
          },
          {
            text: "Status"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
         
            {
              html: 'Cuthbert & Smith Limited'
            },
            {
              html: "7, Crown Yard<br>Bedgebury Road<br>Goudhurst<br>Kent<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 1 other</span>"
            },
            {
              html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
            },
            {
              html: now | date( 'subtract', 3, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "On hold", classes: "govuk-tag--grey" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
           
            {
              html: 'Moon Beever LLP'
            },
            {
              html: "260 Avenue West<br />Skyline 120<br />Great Notley<br />Braintree<br />Essex<br />CM77 7AA<br />"
            },
            {
              html: 'Donald Smith<br><span class="govuk-caption-m govuk-!-font-size-16">dsmith@moonbeever.com</span>'
            },
            {
              html: now | date( 'subtract', 3, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending3?action="})
            }
          ],
          [
           
            {
              html: 'FLG Ltd'
            },
            {
              html: "St Nicholas Court<br />25-27 Castle Gate<br />Nottingham<br />Nottinghamshire<br />NG1 7AR"
            },
            {
              html: 'Sheena Lambert<br><span class="govuk-caption-m govuk-!-font-size-16">slambert@aol.com</span>'
            },
            {
              html: now | date( 'subtract', 3, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
          
            {
              html: 'Alison Proctor LLP'
            },
            {
              html: "73 Cornhill<br />London<br />EC3V 3QQ"
            },
            {
              html: 'Alison Proctor<br><span class="govuk-caption-m govuk-!-font-size-16">alison@proctor.com</span>'
            },
            {
              html: now | date( 'subtract', 3, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending4?action="})
            }
          ],
          [
           
            {
              html: 'Redruth Law Limited'
            },
            {
              html: "Bank House<br>West End<br>Redruth<br>Cornwall"
            },
            {
              html: 'James Green<br><span class="govuk-caption-m govuk-!-font-size-16">james@green.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "On hold", classes: "govuk-tag--grey" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
          
            {
              html: 'Flemming & Co Solicitors'
            },
            {
              html: "Unit 5<br>Old Co-Op Buildings<br>Manchester<br>Greater Manchester<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 7 others</span>"
            },
            {
              html: 'Adam Silver<br><span class="govuk-caption-m govuk-!-font-size-16">adam@silver.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
           
            {
              html: 'Roche Legal Limited'
            },
            {
              html: "First Floor Office<br>22 Churchill Parade<br>Rustington<br>West Sussex"
            },
            {
              html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
           
            {
              html: 'Pinder Reaux & Associates'
            },
            {
              html: "Vyman House<br>104 College Road<br>Harrow<br>Middlesex<br>HA1 1BQ<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 2 others</span>"
            },
            {
              html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">mattpinder@aol.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
          
            {
              html: 'Metcalfe Eyres Solicitors'
            },
            {
              html: "Fifth Floor<br/>Maple House,<br>High Street<br>Potters Bar<br>Hertfordshire<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 1 other</span>"
            },
            {
              html: 'Mama Tora<br><span class="govuk-caption-m govuk-!-font-size-16">metcalfe@mora.com</span>'
            },
            {
              html: now | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ],
          [
         
            {
              html: 'Chris Alexander Solicitors Limited'
            },
            {
              html: "48 Thornton Road<br>Thornton Heath<br>UK<br>CR7 6BA"
            },
            {
              html: 'Lee Laurel<br><span class="govuk-caption-m govuk-!-font-size-16">chrisalexander@hotmail.com</span>'
            },
            {
              html: now | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending?action="})
            }
          ]
        ]
      }) }}

    </form>

    {% endset -%}


    {% set changeReqs %}
    <form action="/v1b/check-selected">

      <h2 class="govuk-heading-l">New PBAs</h2>
      {{ govukTable({
        head: [
         
          {
            text: "Organisation"
          },
          {
            text: "PBAs"
          },
          {
            text: "Administrator"
          },
          {
            text: "Date received"
          },
          {
            text: "Status"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
           
            {
              html: 'David & Snape'
            },
            {
              html: "PBA5746068"
            },
            {
              html: 'Snape Hutchinson<br><span class="govuk-caption-m govuk-!-font-size-16">snape@davidandsnape.com</span>'
            },
            {
              html: now | date( 'subtract', 1, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending-pba-requests?action="})
            }
          ],
          [
           
            {
              html: 'Divorce Mediation and Family Law'
            },
            {
              html: "PBA8475870<br />PBA6596078<br />PBA8573650"
            },
            {
              html: 'Tomas Daniel Jones<br><span class="govuk-caption-m govuk-!-font-size-16">tom.jones@dmfl.com</span>'
            },
            {
              html: now | date( 'subtract', 1, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending-pba-requests-3?action="})
            }
          ],
          [
           
            {
              html: '360 Law Group Limited'
            },
            {
              html: "PBA6350578"
            },
            {
              html: 'Jennifer Louise McGuire<br><span class="govuk-caption-m govuk-!-font-size-16">Jennifermcguire@360.net</span>'
            },
            {
              html: now | date( 'subtract', 1, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending-pba-requests-2?action="})
            }
          ],
          [
         
            {
              html: 'Miamora Limited'
            },
            {
              html: "PBA6463761<br />PBA6843131"
            },
            {
              html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: govukTag({ text: "Pending", classes: "govuk-tag--blue" })
            },  
            {
              html: tableLink({ text: 'View', href: "/v1b/show-pending-pba-requests-4?action="})
            }
          ]
        ]
      }) }}

    </form>

    {% endset -%}


    {% set active %}
    <form action="/v1b/check-selected">

      <h2 class="govuk-heading-l">Active organisations</h2>
      {{ govukTable({
        head: [
         
          {
            text: "Organisation"
          },
          {
            text: "Addresses"
          },
          {
            text: "Administrator"
          },
          {
            text: "Date approved"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
         
            {
              html: 'Miamora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "30 Portland Place<br>London<br>W1B 1LZ<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 1 other</span>"
            },
            {
              html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
            },
            {
              html: now | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
          
            {
              html: 'Turpin Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "2nd Floor<br>34-36 High Street<br>Nantwich<br>Cheshire"
            },
            {
              html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
            },
            {
              html: now | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
           
            {
              html: 'Gold Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "2nd Floor Langdon House<br>Langdon Road<br>Swansea<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 2 others</span>"
            },
            {
              html: 'Steph Gold<br><span class="govuk-caption-m govuk-!-font-size-16">steph@gold.com</span>'
            },
            {
              html: now | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
           
            {
              html: '360 Law Group Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "Quatro House<br />Lyon Way<br />Frimley<br />Camberley<br />Surrey<br />GU16 7ER"
            },
            {
              html: 'Jennifer Louise McGuire<br><span class="govuk-caption-m govuk-!-font-size-16">Jennifermcguire@360.net</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a?action="})
            }
          ],
          [
          
            {
              html: 'Silver Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "Quay House<br>Quay Road<br>Newton Abbot<br>Devon<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 3 others</span>"
            },
            {
              html: 'Adam Silver<br><span class="govuk-caption-m govuk-!-font-size-16">adam@silver.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
          
            {
              html: 'Moon Beever LLP<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "Bedford House<br />21a John Street<br />London<br />WC1N 2BF"
            },
            {
              html: 'Sharon Love<br><span class="govuk-caption-m govuk-!-font-size-16">slove@moonbeever.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-3?action="})
            }
          ],
          [
           
            {
              html: 'Williams Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "Bramangarth<br>Church Road<br>Mylor<br>Cornwall<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 2 others</span>"
            },
            {
              html: 'Gareth Williams<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@williams.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
           
            {
              html: 'Divorce Mediation and Family Law<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "St. Johns Innovation Centre<br />Cowley Road<br />Cambridge<br />Cambridgeshire<br />CB4 0WS"
            },
            {
              html: 'Tomas Daniel Jones<br><span class="govuk-caption-m govuk-!-font-size-16">tom.jones@dmfl.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-4?action="})
            }
          ],
          [
          
            {
              html: 'David & Snape<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "4 Lias Road<br />Porthcawl<br />Mid Glamorgan<br />CF36 3AH"
            },
            {
              html: 'Snape Hutchinson<br><span class="govuk-caption-m govuk-!-font-size-16">snape@davidandsnape.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ],
          [
         
            {
              html: 'Law Limited<br><span class="govuk-caption-m govuk-!-font-size-16">13548945</span>'
            },
            {
              html: "12 North Pallant<br>Chichester<br>West Sussex<br>PO19 1TQ<br /><span class='govuk-caption-m govuk-!-font-size-16'>+ 1 other</span>"
            },
            {
              html: 'Lee Laurel<br><span class="govuk-caption-m govuk-!-font-size-16">lee@law.com</span>'
            },
            {
              html: now | date( 'subtract', 2, 'days') | date('D MMM YYYY')
            },
            {
              html: tableLink({ text: 'View', href: "/v1b/show-a-2?action="})
            }
          ]
        ]
      }) }}

    </form>

    {{hmctsPagination({
      results: {
      from: 1,
      to: 10,
      count: 40
      },

      next: {
        text: 'Next',
        href: ''
      },
      items: [{
        text: '1',
        href: '/page=1',
        selected: true
      }, {
      text: '2',
      href: '/page=2'
      }, {
      text: '3',
      href: '/page=3'

      }, {
      text: '4',
      href: '/page=4'
      }]
    })}}

    {% endset -%}


    {{ govukTabs({
      items: [
        {
          label: "New registrations (10)",
          id: "new-regs",
          panel: {
            html: newRegs
          }
        },
        {
          label: "New PBAs (4)",
          id: "change-reqs",
          panel: {
            html: changeReqs
          }
        },
        {
          label: "Active organisations (47)",
          id: "active",
          panel: {
            html: active
          }
        }
      ]
    }) }}




{% endblock %}
