
{% extends "./base.html" %}


{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1b"
}) }}
{% endblock %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Speak Law Limited ' + hmctsBadge({ text: 'pending' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}

{% endblock %}

{% block content %}
<!--
{% set bannerHtml %}

<p class="govuk-body">This organisation is pending approval.</p>
{{govukButton({ text: 'Approve', href: '/v1b/show-just-approved', classes: 'govuk-!-margin-bottom-0' })}}

{% endset %}


{{ hmctsBanner({
  html: bannerHtml
}) }} -->

<h1 class="govuk-heading-xl">Organisation details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Speak Law Limited"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          }
        },
        {
          key: {
            text: "PBA number"
          },
          value: {
            text: "PBA1234567,PBA2233444",
            html: data['pba-1'],
            html: data['pba-2']
          },
          actions: {
        items: [
          {
            href: "show-pending-pba",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
        },
        {
          key: {
            text: "DX number"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "DX exchange"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "Administrator"
          },
          value: {
            html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
          }
        },
{
          key: {
            text: "SRA ID"
          },
          value: {
            html: 'SRA3347232'
          },
          actions: {
        items: [
          {
            href: "show-pending-sra",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
        }
      ]
    }) }}
     <form>
                {{ govukButton({
                text: 'Activate organisation',
                href: "/v1b/confirmation"
                }) }}
           
            
                {{ govukButton({
                text: 'Delete pending organisation',
                classes: "govuk-button--secondary",
                href: "/v1b/delete"
                }) }}
           
            </form>

                   <form action="/v1b/confirmation">
                    <div id="timeout-dialog" class="timeout-dialog" role="dialog" aria-labelledby="timeout-message" tabindex="-1" aria-live="polite">
                        <h1 class="govuk-heading-m push--top">Confirm activation</h1>
                        <p id="govuk-body" role="text">You are about to activate this registration request.</p>
                        {{ govukButton({
                        text: "Confirm"
                        }) }}
                        <p id="govuk-body"> <a href="/v1b/show-pending">Cancel</a></p>
                    </div>
                    <div id="timeout-overlay" class="timeout-overlay"></div>
            </div>
            </form>
  </div>
</div>

{% endblock %}
