
{% extends "./base.html" %}


{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1b"
}) }}
{% endblock %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: '  Miamora Limited ' + hmctsBadge({ text: 'pending' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}

{% endblock %}

{% block content %}
<!--
{% set bannerHtml %}

<p class="govuk-body">This organisation is pending approval.</p>
{{govukButton({ text: 'Approve', href: '/v1b/show-just-approved', classes: 'govuk-!-margin-bottom-0' })}}

{% endset %}


{{ hmctsBanner({
  html: bannerHtml
}) }} -->

<h1 class="govuk-heading-xl">Organisation details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
             html: 'Miamora Limited<br><span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          }
        },
        {
         key: {
            text: "PBA number"
          },
          value: {
            html: 'PBA1234567<br><span class="govuk-caption-m govuk-!-font-size-16">Account name: Account A'
          },
          actions: {
        items: [
          {
            href: "show-pending-pba",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
        },
        {
          key: {
            text: "DX number"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "DX exchange"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "Administrator"
          },
          value: {
            html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
          }
        },
{
              key: {
            text: "SRA ID"
          },
          value: {
            html: 'SRA3347232'
          },
          actions: {
        items: [
          {
            href: "show-pending-sra-2",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
        }
      ]
    }) }}
     <form>
                {{ govukButton({
                text: 'Approve organisation',
                href: "/v1b/confirmation"
                }) }}
           
            
                {{ govukButton({
                text: 'Delete organisation',
                classes: "govuk-button--secondary",
                href: "#"
                }) }}
           
            </form>
  </div>
</div>

{% endblock %}
