
{% extends "./base.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1b#change-reqs"
}) }}
{% endblock %}

{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Miamora Limited ' + hmctsBadge({ text: 'approved' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="/v1b/show-pending-pba-confirmation">

        <h1 class="govuk-heading-xl hmcts-add-another__heading">Approve new PBA number</h1>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="pba-[0]">
            Name on MyHMCTS account
          </label>
          <p>Miamora Limited</p>
        </div>

        <br />
        <h3 class="govuk-heading-m">PBA accounts</h3>
        <hr />

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PBA number<br /><br />Account name
            </dt>
            <dd class="govuk-summary-list__value">
              PBA6463761<br /><br />
              Miamora Limited
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "decision1",
          name: "decision1",
          fieldset: {
            legend: {
              text: "What would you like to do with this PBA account?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "approve",
              text: "Approve it"
            },
            {
              value: "reject",
              text: "Reject it"
            },
            {
              value: "hold",
              text: "Put it on hold pending further investigation"
            }
          ]
        }) }}

        <br />
        <hr />

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PBA number<br /><br />Account name
            </dt>
            <dd class="govuk-summary-list__value">
              PBA6843131<br /><br />
              Miamora Limited
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "decision2",
          name: "decision2",
          fieldset: {
            legend: {
              text: "What would you like to do with this PBA account?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "approve",
              text: "Approve it"
            },
            {
              value: "reject",
              text: "Reject it"
            },
            {
              value: "hold",
              text: "Put it on hold pending further investigation"
            }
          ]
        }) }}

        <br />

        <input type="hidden" name="org" value="Miamora Limited" />
        <input type="hidden" name="org-short" value="miamora" />
        <input type="hidden" name="pba1" value="PBA8475870" />
        <input type="hidden" name="pba2" value="PBA6596078" />
        <input type="hidden" name="decision3" value="" />


        {% if ( data['pba-number'] ) %}

        {{ govukButton({
        text: 'Submit',
        href: "/v1b#change-reqs"
        }) }} 

        {% else %}

        {{ govukButton({
        text: 'Continue'
        }) }} 

        {% endif %}
      </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
{% endblock %}
