
{% extends "./base.html" %}


{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1b"
}) }}
{% endblock %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Speak Law Limited ' + hmctsBadge({ text: 'pending' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}

{% endblock %}

{% block content %}
<!--
{% set bannerHtml %}

<p class="govuk-body">This organisation is pending approval.</p>
{{govukButton({ text: 'Approve', href: '/v1b/show-just-approved', classes: 'govuk-!-margin-bottom-0' })}}

{% endset %}


{{ hmctsBanner({
  html: bannerHtml
}) }} -->

<h1 class="govuk-heading-xl">Approve organisation</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h3 class="govuk-heading-m">Organisation details</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html: 'Speak Law Limited<span class="govuk-caption-m govuk-!-font-size-16">12343211</span>'
          }
        },
        {
          key: {
            text: "SRA ID"
          },
          value: {
            html: 'SRA3347232'
          },
          actions: {
            items: [
              {
                href: "show-pending-sra",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Administrator"
          },
          value: {
            html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
          }
        }
      ]
    }) }}

    <br />

    <h3 class="govuk-heading-m">Addresses</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          72 Guild Street<br>London<br>SE23 6FH<br /><br />
          12348, Westminster

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          654 High Street<br>Reading<br>RG23 6FH<br /><br />
          46834, Reading

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "decision1",
      name: "decision1",
      fieldset: {
        legend: {
          text: "What would you like to do with this registration?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "approve",
          text: "Approve it"
        },
        {
          value: "Reject",
          text: "Reject it"
        },
        {
          value: "hold",
          text: "Put it on hold pending further investigation"
        }
      ]
    }) }}


    <br />

        <br />
        <h3 class="govuk-heading-m">PBA accounts</h3>
        <hr />

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PBA number<br /><br />Name on PBA
            </dt>
            <dd class="govuk-summary-list__value">
              PBA646761<br /><br />
              Speake Law Ltd
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "decision2",
          name: "decision2",
          fieldset: {
            legend: {
              text: "What would you like to do with this PBA account?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "approve",
              text: "Approve it"
            },
            {
              value: "Reject",
              text: "Reject it"
            },
            {
              value: "hold",
              text: "Put it on hold pending further investigation"
            }
          ]
        }) }}

        <br />
        <hr />

        <br />

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PBA number<br /><br />Name on PBA
            </dt>
            <dd class="govuk-summary-list__value">
              PBA6843131<br /><br />
              Slater & Gordon Ltd
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "decision3",
          name: "decision3",
          fieldset: {
            legend: {
              text: "What would you like to do with this PBA account?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "approve",
              text: "Approve it"
            },
            {
              value: "Reject",
              text: "Reject it"
            },
            {
              value: "hold",
              text: "Put it on hold pending further investigation"
            }
          ]
        }) }}

        <br />

    <br />
    

    <br />
    {{ govukButton({
    text: 'Submit',
    href: "/v1b/show-pending-confirmation"
    }) }}

   
  </div>
</div>

{% endblock %}
