
{% extends "./base.html" %}


{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Speak Law Limited ' + hmctsBadge({ text: 'pending' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}

{% endblock %}

{% block content %}
<!--
{% set bannerHtml %}

<p class="govuk-body">This organisation is pending approval.</p>
{{govukButton({ text: 'Approve', href: '/v1b/show-just-approved', classes: 'govuk-!-margin-bottom-0' })}}

{% endset %}


{{ hmctsBanner({
  html: bannerHtml
}) }} -->

<h1 class="govuk-heading-xl">Organisation details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Speak Law Limited"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          }
        },
        {
          key: {
            text: "PBA number"
          },
          value: {
            text: "PBA1234567,PBA2233444",
            html: data['pba-1'],
            html: data['pba-2']
          },
          actions: {
        items: [
          {
            href: "show-pending-pba",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
        },
        {
          key: {
            text: "DX number"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "DX exchange"
          },
          value: {
            html: '12345567'
          }
        },
        {
          key: {
            text: "Administrator"
          },
          value: {
            html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
          }
        },
{
          key: {
            text: "SRA Id"
          },
          value: {
            html: 'SRA3347232'
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
