{% extends "./base.html" %}
{% block pageTitle %}
Organisation details
{% endblock %}
{% set pageId = 'organisation-details' %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/v1b#active"
}) }}
{% endblock %}
{% block header %}
{{ super() }}
{{ hmctsIdentityBar({
title: { html: '  Miamora Limited ' + hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'}) }
}) }}
{% endblock %}
{% block content %}
{{hmctsSubNavigation({
items: [ {
text: 'Organisation details',
href: '/v1b/show-a-2',
active: true
},
{
text: 'Users',
href: '/v1b/users-a-2',
active: false
}
]
})}}



    <h3 class="govuk-heading-m">Organisation details</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html: 'Earl & Crooker'
          }
        },
        {
          key: {
            text: "SRA ID"
          },
          value: {
            html: 'SRA7123232'
          },
          actions: {
            items: [
              {
                href: "show-pending-sra",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Administrator"
          },
          value: {
            html: 'Jimmy Vernon<br><span class="govuk-caption-m govuk-!-font-size-16">jimmy@gmail.com</span>'
          }
        }
      ]
    }) }}

    <br />

    <h3 class="govuk-heading-m">Addresses</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          2 Bakers Yard<br />
          Uxbridge<br />
          Middlesex<br />
          UB8 1JZ<br /><br />
          12348, Middlesex

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          654 High Street<br>Halifax<br>Y23 6FH<br /><br />
          46834, Halifax

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          27-31 Verulam Road<br>St Albans<br>Herts<br>AL3 4DG<br /><br />
          46834, Albans

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address<br /><br /><br /><br />DX 
        </dt>
        <dd class="govuk-summary-list__value">
          15 Cove Road<br>Cove<br>Farnborough<br>Hampshire<br /><br />
          46834, Farnborough

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <br />

    <h3 class="govuk-heading-m">PBAs</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          PBA number<br /><br />Name on PBA
        </dt>
        <dd class="govuk-summary-list__value">
          PBA6574641<br /><br />
          Earl & Crooker LLP
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="show-pending-pba">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>




    {{ govukButton({
  text: "Delete organisation",
  classes: "govuk-button--secondary",
  href: "/v1b/show-approved-delete"
}) }}
    </div>
</div>
{% endblock %}