
{% extends "./base.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1b/approve-changes"
}) }}
{% endblock %}

{% block pageTitle %}
  Organisation details
{% endblock %}

{% set pageId = 'organisation-details' %}

{% block header %}
  {{ super() }}
  {{ hmctsIdentityBar({
    title: { html: 'Speak Law Limited ' + hmctsBadge({ text: 'approved' }) },
    items: [{
      href: '/v1b/show-just-approved',
      text: 'Activate'
    }]
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="/v1b/show-pending">

          <div class="hmcts-add-another">

            <h1 class="govuk-heading-xl hmcts-add-another__heading">Organisation payment by account (PBA) number</h1>

            <fieldset class="govuk-fieldset hmcts-add-another__item">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="pba-[0]">
                  PBA number (optional)
                </label>
                <input class="govuk-input govuk-input--width-20" id="pba-[0]" name="pba-[0]" type="text" data-name="pba-[%index%]" data-id="pba-[%index%]" value="PBA5469871">
              </div>
              <button type="button" class="govuk-button hmcts-button--secondary hmcts-add-another__remove-button">Remove</button>

            </fieldset>

            <fieldset class="govuk-fieldset hmcts-add-another__item">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="pba-[1]">
                  PBA number (optional)
                </label>
                <input class="govuk-input govuk-input--width-20" id="pba-[1]" name="pba-[1]" type="text" data-name="pba-[%index%]" data-id="pba-[%index%]" value="PBA3541892">
              </div>
              <button type="button" class="govuk-button hmcts-button--secondary hmcts-add-another__remove-button">Remove</button>
            </fieldset>

            <div class="hmcts-button-action">
              <button type="button" class="govuk-button hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4">
                Add another PBA number
              </button>
            </div>

            <br />
            {{ govukButton({
            text: 'Approve change',
            href: "/v1b/show-pending-confirmation"
            }) }}

            {{ govukButton({
            text: 'Put on hold',
            classes: "govuk-button--secondary",
            href: "/v1b/on-hold"
            }) }}
        
            {{ govukButton({
            text: 'Reject change',
            classes: "govuk-button--secondary",
            href: "/v1b/show-pending-delete"
            }) }}
       

          </div> 

        </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
{% endblock %}
