
{% extends "./base.html" %}

{% block pageTitle %}
  Check selected organisations
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/v1/pending"
  }) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Check selected organisations before you activate them</h1>

          <h2 class="govuk-heading-m">Speak limited</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Address"
                },
                value: {
                  html: "72 Guild Street<br>London<br>SE23 6FH"
                }
              },
              {
                key: {
                  text: "Administrator"
                },
                value: {
                  html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
                }
              }
            ]
          }) }}

          <h2 class="govuk-heading-m">Speak limited</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Address"
                },
                value: {
                  html: "72 Guild Street<br>London<br>SE23 6FH"
                }
              },
              {
                key: {
                  text: "Administrator"
                },
                value: {
                  html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
                }
              }
            ]
          }) }}

          <h2 class="govuk-heading-m">Speak limited</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Address"
                },
                value: {
                  html: "72 Guild Street<br>London<br>SE23 6FH"
                }
              },
              {
                key: {
                  text: "Administrator"
                },
                value: {
                  html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
                }
              }
            ]
          }) }}

          <form action="/v1/confirmation">
            {{ govukButton({
              text: 'Approve organisations'
            }) }}
          </form>


      </div>
    </div>
  </div>



{% endblock %}
