
{% extends "./base.html" %}

{% block pageTitle %}
  Organisations
{% endblock %}

{% set pageId = 'organisations' %}

{% block content %}

{{ hmctsBanner({
  html: '3 organisations are pending approval. <a href="/v1/pending">Check now</a>.'
}) }}


<h1 class="govuk-heading-xl">Organisations</h1>

{{ govukTable({
  head: [
    {
      text: "Reference"
    },
    {
      text: "Name"
    },
    {
      text: "Administrator"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/show">123456</a>'
      },
      {
        text: "Speak Limited"
      },
      {
        html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">243123</a>'
      },
      {
        text: "Miamora Limited"
      },
      {
        html: 'Mia Mamatora<br><span class="govuk-caption-m govuk-!-font-size-16">mia@mamatora.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">123432</a>'
      },
      {
        text: "Turpin Limited"
      },
      {
        html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">333212</a>'
      },
      {
        text: "Gold Limited"
      },
      {
        html: 'Steph Gold<br><span class="govuk-caption-m govuk-!-font-size-16">steph@gold.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">533212</a>'
      },
      {
        text: "Green Limited"
      },
      {
        html: 'James Green<br><span class="govuk-caption-m govuk-!-font-size-16">james@green.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],[
    {
      html: '<a href="/v1/show">333321</a>'
    },
    {
      text: "Silver Limited"
    },
    {
      html: 'Adam Silver<br><span class="govuk-caption-m govuk-!-font-size-16">adam@silver.com</span>'
    },
    {
      html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
    }
  ],
  [
      {
        html: '<a href="/v1/show">123432</a>'
      },
      {
        text: "Turpin Limited"
      },
      {
        html: 'Gareth Turpin<br><span class="govuk-caption-m govuk-!-font-size-16">gareth@turpin.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">123456</a>'
      },
      {
        text: "Speak Limited"
      },
      {
        html: 'Matt Speak<br><span class="govuk-caption-m govuk-!-font-size-16">matt@speak.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">243125</a>'
      },
      {
        text: "Mora Limited"
      },
      {
        html: 'Mama Tora<br><span class="govuk-caption-m govuk-!-font-size-16">mama@mora.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Suspended', classes: 'hmcts-badge--red'})
      }
    ],
    [
      {
        html: '<a href="/v1/show">443123</a>'
      },
      {
        text: "Law Limited"
      },
      {
        html: 'Lee Laurel<br><span class="govuk-caption-m govuk-!-font-size-16">lee@law.com</span>'
      },
      {
        html: hmctsBadge({ text: 'Active', classes: 'hmcts-badge--green'})
      }
    ]
  ]
}) }}

{{hmctsPagination({
  results: {
  from: 1,
  to: 10,
  count: 40
  },

  next: {
    text: 'Next',
    href: ''
  },
  items: [{
    text: '1',
    href: '/page=1',
    selected: true
  }, {
  text: '2',
  href: '/page=2'
  }, {
  text: '3',
  href: '/page=3'

  }, {
  text: '4',
  href: '/page=4'
  }]
  })}}

{% endblock %}
