
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage organisations
      </h1>
      <p>
        This is the prototype for HMCTS staff to manage organisational data. Also known as professional reference data.
      </p>

      <h2 class="govuk-heading-l">Iterations</h2>

      {% set iterationOneHtml %}
        <p class="govuk-body">First version lets users approve an organisation—either in bulk or one at a time. You can't deactivate an account yet.</p>
        <ul class="govuk-list">
          <li><a href="/v1">View prototype</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryHtml: '<div class="govuk-!-font-size-24 govuk-!-font-weight-bold">Iteration 1</div>',
        html: iterationOneHtml
      }) }}
    </div>
</div>

{% endblock %}
